<h1> Welcome! </h1>
<p> This is for all escape room enthusiasts. As begin to cyle through many escape rooms out there, here's a place too look for future escape rooms and see other's reviews on them or escape room wishes. </p><br>
<% #<p> If you wish to simply look at all the escape rooms. feel free to look around! link_to "Escape Rooms", </p>%>
<h2> <%= link_to "Login", login_path %></h2>   
<h2> <%= link_to "Sign Up", signup_path %></h2>   
