<h1> Here are all of the Escape Rooms </h1>

<% @escape_rooms.each do |escape_room| %>
    <div>
      <h2><%= link_to escape_room.title, escape_room_path(escape_room) %></h2>
    </div>
  <% end %>