<h1> Escape Room: <%= link_to @review.escape_room.title, escape_room_path(@review.escape_room) %> </h1>
<h2> Created by:<%= link_to @review.profile.name, profile_path(@review.profile) %></h2>
<p> <%= @review.content %> </p>